[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis
[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
